body {
    background: var(--color-accent);
}
.card {
    border-radius: 1rem;
}

header {
    .nav-link {
        color: var(--color-secondary);
    }

    .nav-link:hover {
        color: var(--color-primary);
    }
}

footer {
    color: white;
    text-shadow: 2px 2px 2px black;
    z-index: 1;
}

/* ag: remove the list dot from header account dropdown */
li.nav-item.dropdown.ms-auto {
    list-style: none;
}

.table-success.primary-row {
    td {
        color: #fff !important;
    }
}

/* ag: style for dataTables. Header row background + text color */
table.dataTable thead th {
    background-color: var(--color-accent); /* pink */
    color: #f4f4f4; /* white text */
    text-align: left; /* optional: align text */
    /* padding: 10px; */
}

/* ag: style for dataTables. Default unsorted */
table.dataTable thead .dt-column-order::after {
    content: '⇅';
    margin-left: 6px;
    font-size: 0.8em;
    color: #f4f4f4; /* white arrows by default */
}

/* ag: style for dataTables. Sorted ascending */
table.dataTable thead th[aria-sort='ascending'] .dt-column-order::after {
    content: '▲';
    color: #f4f4f4;
}

/* ag: style for dataTables. Sorted descending */
table.dataTable thead th[aria-sort='descending'] .dt-column-order::after {
    content: '▼';
    color: #f4f4f4;
}

.dt-container .dt-paging .page-item.active .page-link {
    background-color: var(--color-accent);
    border: var(--color-accent);
    color: #f4f4f4;
}
